@import 'tailwindcss';

@import 'primeicons/primeicons.css';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


:root {
    --body-bg: var(--p-surface-50);
    --card-bg: var(--p-surface-0);
    --card-border: var(--p-surface-200);
}

:root[class="my-app-dark"] {
    --body-bg: var(--p-surface-950);
    --card-bg: var(--p-surface-900);
    --card-border: var(--p-surface-700);
}

/* Aura Light Blue */
:root {
    --primary-50: #f5f9ff;
    --primary-100: #e0edff;
    --primary-200: #c7dfff;
    --primary-300: #9fc7ff;
    --primary-400: #7aaeff;
    --primary-500: #3b82f6;
    --primary-600: #2563eb;
    --primary-700: #1d4ed8;
    --primary-800: #1e3faf;
    --primary-900: #1e3a8a;
    --primary-950: #172554;
}

:root {
    --p-button-padding-y: 0.6rem !important;
    --p-select-padding-y: 0.6rem !important;
    --p-inputtext-padding-y: 0.6rem !important;
}

/* Подключение других шрифтов */
/*
:root {
    --font-family: 'Comic Sans MS', cursive, sans-serif;
}
:root {
    --font-family: 'Papyrus', fantasy, sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6, span, div {
    font-family: var(--font-family);
}
*/

body {
    background-color: var(--body-bg);
    /*background-color:var(--p-blue-500);*/
}


.my-card {
    background-color: var(--card-bg);
    padding: 2rem;
    border: 1px solid var(--card-border);
    border-radius: 12px;
}

/* Проверка значений переменных* /
/* getComputedStyle(document.documentElement).getPropertyValue('--p-surface-950') */
