@import 'tailwindcss';

@import 'primeicons/primeicons.css';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


:root {
    --body-bg: var(--p-surface-50);
    --card-bg: var(--p-surface-0);
    --card-border: var(--p-surface-200);
}

:root[class="my-app-dark"] {
    --body-bg: var(--p-surface-950);
    --card-bg: var(--p-surface-900);
    --card-border: var(--p-surface-700);
}

/* Aura Light Blue */
:root {
    --primary-50: #f5f9ff;
    --primary-100: #e0edff;
    --primary-200: #c7dfff;
    --primary-300: #9fc7ff;
    --primary-400: #7aaeff;
    --primary-500: #3b82f6;
    --primary-600: #2563eb;
    --primary-700: #1d4ed8;
    --primary-800: #1e3faf;
    --primary-900: #1e3a8a;
    --primary-950: #172554;
}

:root {
    --p-button-padding-y: 0.6rem !important;
    --p-select-padding-y: 0.6rem !important;
    --p-inputtext-padding-y: 0.6rem !important;
    --p-breadcrumb-gap: 0.2rem !important;
}

:root {
    --p-button-outlined-secondary-border-color: #6474A9 !important;
    --p-button-outlined-primary-border-color: var(--custom-first-color) !important;
    --p-button-outlined-primary-color: var(--custom-first-color) !important;
    /*--p-button-primary-background: var(--custom-color) !important;*/
    /*--p-button-padding-y: 5px !important;*/
    /*--p-text-color: var(--novomet-dark-blue-1000) !important;*/
    /*--p-button-secondary-border-color: green !important;*/
    /*--p-surface-200: orange !important;*/

    --custom-first-color: var(--novomet-dark-blue-1000);
    --custom-second-color: var(--novomet-orange-1000);
    --custom-gray-color: var(--novomet-light-gray-blue-400);
    --custom-text-color: var(--novomet-black-600);
}

:root {
    --novomet-blue-200: rgba(0, 113, 206, 0.2);
    --novomet-blue-400: rgba(0, 113, 206, 0.6);
    --novomet-blue-600: rgba(0, 113, 206, 0.6);
    --novomet-blue-800: rgba(0, 113, 206, 0.8);
    --novomet-blue-1000: rgba(0, 113, 206, 1);
    --novomet-orange-200: rgba(243, 112, 33, 0.2);
    --novomet-orange-400: rgba(243, 112, 33, 0.4);
    --novomet-orange-600: rgba(243, 112, 33, 0.6);
    --novomet-orange-800: rgba(243, 112, 33, 0.8);
    --novomet-orange-1000: rgba(243, 112, 33, 1);
    --novomet-black-200: rgba(0, 0, 0, 0.2);
    --novomet-black-400: rgba(0, 0, 0, 0.4);
    --novomet-black-600: rgba(0, 0, 0, 0.6);
    --novomet-black-800: rgba(0, 0, 0, 0.8);
    --novomet-black-1000: rgba(0, 0, 0, 1);
    --novomet-dark-blue-200: rgba(0, 86, 150, 0.2);
    --novomet-dark-blue-400: rgba(0, 86, 150, 0.4);
    --novomet-dark-blue-600: rgba(0, 86, 150, 0.6);
    --novomet-dark-blue-800: rgba(0, 86, 150, 0.8);
    --novomet-dark-blue-1000: rgba(0, 86, 150, 1);
    --novomet-navy-blue-200: rgba(0, 36, 146, 0.2);
    --novomet-navy-blue-400: rgba(0, 36, 146, 0.4);
    --novomet-navy-blue-600: rgba(0, 36, 146, 0.6);
    --novomet-navy-blue-800: rgba(0, 36, 146, 0.8);
    --novomet-navy-blue-1000: rgba(0, 36, 146, 1);
    --novomet-blue-green-200: rgba(28, 212, 198, 0.2);
    --novomet-blue-green-400: rgba(28, 212, 198, 0.4);
    --novomet-blue-green-600: rgba(28, 212, 198, 0.6);
    --novomet-blue-green-800: rgba(28, 212, 198, 0.8);
    --novomet-blue-green-1000: rgba(28, 212, 198, 1);
    --novomet-light-gray-blue-200: rgba(204, 212, 219, 0.2);
    --novomet-light-gray-blue-400: rgba(204, 212, 219, 0.4);
    --novomet-light-gray-blue-600: rgba(204, 212, 219, 0.6);
    --novomet-light-gray-blue-800: rgba(204, 212, 219, 0.8);
    --novomet-light-gray-blue-1000: rgba(204, 212, 219, 1);
}

/* Подключение других шрифтов */
/*
:root {
    --font-family: 'Comic Sans MS', cursive, sans-serif;
}
:root {
    --font-family: 'Papyrus', fantasy, sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6, span, div {
    font-family: var(--font-family);
}
*/

body {
    background-color: var(--body-bg);
    /*background-color:var(--p-blue-500);*/
}


.my-card {
    background-color: var(--card-bg);
    padding: 2rem;
    border: 1px solid var(--card-border);
    border-radius: 12px;
}

.p-confirmdialog-message {
    white-space: pre-line;
    color: red;
    /*background-color: #1cd4c6 !important;*/
    /*font-size: 50px !important;*/
}

/* Проверка значений переменных* /
/* getComputedStyle(document.documentElement).getPropertyValue('--p-surface-950') */
